@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.footerdiv {
    width: 100%;
    background-color: #f4f6f6;

    @media (max-width: 1120px) {
        padding : 0 12px;
    }

    .footer {
        max-width: 1070px;
        margin-right: auto;
        margin-left: auto;
        padding: 45px 0 30px 0;

        div:nth-child(1) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

          

            div {
                margin-bottom: 8px;
                width: 350px;
                height: 212px;
                flex-grow: 1;
                border-radius: 16px;
                flex-direction: column;
                justify-content: flex-start;
            }

            div:nth-child(1) {
                background-color: #fff;
                padding-left: 30px;

                @media (max-width: 1170px) {
                    margin-right: 8px;
                }

                @media (max-width: 750px) {
                    margin-right: 0;
                }

                h3 {
                    margin: 20px 0 8px 0;
                    color: #131313;
                    font-family: "Outfit", sans-serif;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    letter-spacing: 0.68px;
                }

                p {
                    width: 239px;
                    color: #131313;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p:nth-child(2) {
                    margin: 1px;
                }

            }

            div:nth-child(2) {
                padding-left: 31px;
                background-color: #fff;
                flex-grow: 1;

                @media (max-width: 750px) {
                    width: 100%;
                }

                div {
                    width: 100%;
                    height: auto;
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-self: flex-start;

                    div {
                        width: auto;
                        margin-right: 30px;
                        margin-top: 32px;
                        padding-left: 0;
                        display: flex;
                        flex-direction: column;

                        a {
                            margin-bottom: 8px;
                            display: inline-block;
                            text-decoration: none;
                            color: #121212;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                    }
                }

                p {
                    margin: 0;
                    margin-top: 29px;
                    color: #131313;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15px;
                }
            }
        }

        #flex {
            width: 255px;
            padding-left: 21px;
            flex-grow: 1;

            @media (max-width: 1000px) {
                padding-left: 0;
                display: flex;
                flex-direction: row;
                height: auto;
            }

            @media (max-width: 600px) {
                flex-direction: column;
            }
            

            div:nth-child(1) {
                padding-left: 0;
                background-color: #f4f6f6;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                height: auto;


                svg {
                    padding: 20px;
                    border-radius: 12px;
                    background-color: #fff;
                    width: 60px;
                    height: 60px;
                    margin-right: 5px;
                }
            }

            div:nth-child(2),
            div:nth-child(3) {
                padding-left: 0;
                background-color: #f4f6f6;
                width: 100%;
                height: auto;

                p {
                    margin: 0;
                    margin-top: 35px;
                    padding-left: 22px;
                    color: #131313;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p:nth-child(2) {
                    margin-top: 3px;
                    font-size: 14px;
                }
    
                p:nth-child(1) {
                    margin-top: 19px;
                }
            }


        }


        hr {
            margin-top: 40px;
            margin-bottom: 29px;
            border: none;
            height: 1px;
            background-color: #e4e4e4;

            @media (max-width: 1000px) {
                margin-top: 0;
            }
        }

        #subfooter {
            width: 100%;
            padding-left: 0;
            display: flex;
            flex-direction: row;

            #a {
                display: block;
                padding: 0;
                margin: 0;
                margin-right: 20px;
                color: #131313;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

        }
    }

}