.component5 {
    padding: 116px 0 16px 0;
    width: 100%;
    background: #F4F6F6;

    h2 {
        width: 1120px;
        padding-left: 37px;
        margin: 0 auto 45px auto;
        color: #121212;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    div {
        width: 1116px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;

        div {
            width: 550px;
            height: 500px;
            border-radius: 32px 32px 0 0;
            background: #FFF;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            p:nth-child(1) {
                margin: 0;
                margin-top: 60px;
                color: #000;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p:nth-child(2) {
                margin: 0;
                margin-top: 8px;
                color: #000;
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 0.6;
            }

            button {
                color: #D95720;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 0;
                background-color: inherit;
                border: none;
            }

            img {
               width: 288px;
            }
        }
    }
}