.component1 {
    width: 1120px;
    margin: 59px auto 0 auto;
    display: flex;
    overflow-x: scroll;

    @media (max-width: 750px) {
        margin-top: 80px;
    };


    div {
        display: block;
        margin-right: 7px;
        position: relative;
        width: 106px;
        height: 120px;
        border-radius: 20px;
        background: #F4F6F6;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            background-color: #fff;
            position: absolute;
            right: 3px;
            bottom: 3px;
            img {
                width: 8px;
                height: 8px;
            }
        }
        
    }

    div:nth-child(1) {
        @media (max-width: 1120px) {
            margin-left: 12px;
        }
    }
}
