.component6 {
    padding-top: 180px;
    max-width: 1116px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1120px) {
        padding: 106px 12px 12px 0;
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 548px) {
        text-align: left;
    }

    
}

.component6>div {
    display: flex;
    flex-direction: column;
    width: 548px;

    @media (max-width: 1120px) {
        margin-top: -48px;
        width: 100%; 
    }

    @media (max-width: 548px) {
        max-width: 548px;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
}

.component6 h2 {
    margin: 0;
    margin-bottom: 38px;
    color: #121212;
    padding-left: 37px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wrapperStyle {
    height: 694px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1120px) {
        height: 530px;
        padding: 6px;
    }

}

.cardWrapStyle {
    position: relative;
    width: 548px;
    height: 340px;
    margin-left: -80px;

    @media (max-width: 1120px) {
        margin-left: -68px;
    }

    @media (max-width: 548px) {
        width: 100%;
    }

}

.cardStyle  {
    position: absolute;
    width: 100%;
    height: 340px;
    border-radius: 32px;
    transform-origin: top center;
    list-style: none;
    text-align: center;

    @media (max-width: 1120px) {
        height: 312px;
    }
}

.titleStyle {
    width: 312px;
    margin: 30px auto 5px auto;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.absStyle {
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 38px;
    left: 0px;
}

.img2 {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.absStyle>img:first-child {
    margin-right: 10px;
}